* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}
body {
  position: relative;
  transition: 0.5s;
  background-color: #05292E;
  font-family: sans-serif;
  
}
.big-container {
  position: relative;
}
.topIm {
  height: 500px;
  width: 100vw;
  overflow-y: hidden;
}

.topIm img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.topText {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #20b2aa;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #062226;
  margin-top: 40px;
}

.input-text {
  width: 50%;
  margin: 20px;
  height: 30px;
}
.input-submit {
  width: 10%;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(177, 177, 240);
  transition: 0.5s;
  background-color: rgb(14, 194, 140);
  color: white;
}
.input-text:hover {
  border: 1px solid rgb(46, 46, 138);
}
.input-submit:hover {
  background-color: rgb(5, 16, 137);
  color: white;
  cursor: pointer;
}
.pink-bar {
  width: 100%;
  height: 200px;
  background-color: #062226;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 25px;
  padding-top: 50px;
}
.pink-bar ul li {
  list-style: none;
  
}
.pink-bar h2 {
  padding-bottom: 20px;
  color: #7fff00;
}
/* .img-container {
  width: 100%;
  height: 100%;
  color: rgb(166, 17, 17);
} */
.resident {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  width: 100%;
  align-items: center;
}
.container {
  color: white;
  margin: 20px;
  max-width: 100%;
  border-radius: 15px;
  padding-bottom: 20px;
  background-color:#062226;
  transition: 0.5s;
  position: relative;
}
.container ul li {
  padding-left: 10px;
}
.container h3 {
  padding-left: 10px;
  
}
.imgpro{
  border-radius: 15px 15px 0 0;
}
.container img {
  width: 100%;
  object-fit: cover;
}

.card___ul li {
  list-style: none;
}
.residentes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 60px;
  flex-direction: column;
  line-height: 1.5;
}
.footer {
  height: 70px;
  width: 100%;
  background-color: #062226;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.image1 {
  max-width: 35px;
  height: 30px;
  background-color: #7fff00;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.5;
  animation: cool;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.image2 {
  max-width: 35px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 20px;
  left: 20px;
}

.nohab {
  width: 100%;
  height: 200px;
}
.mage {
  max-width: 200px;
  height: 150px;
  margin-bottom: -250px;
  border-radius: 50%;
  border: 5px solid rgb(57, 125, 173);
}
@keyframes cool {
  0% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .resident {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 568px) {
  .resident {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    font-size: 15px;
  }
}
